/* @media screen and (max-width: 768px) {
.droppable {
    position: absolute;
    width: 116%;
    height: 116%;
    background-color: rgb(242, 242, 242);
    margin-left: 0px;
    margin-top: 0px;
    }
} */