.toolkit-sidebar {
    width: 200px;
    background-color: #004983;
    border-right: 1px solid #666;
    position: fixed;
    top: 78px;
    bottom: 0;
    height: 100%;
    z-index: 10;
}

.main-menu > ul {
    margin: 7px -8px;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

@media screen and (max-width: 412px) {
    .toolkit-sidebar {
        width: 35%;
        top: 50px;
        bottom: 0;
        height: 100%;
    }
    .toolkit-sidebar div input {
        height: 50%;
        /* margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -35%; */
        width: 55%;
        justify-content: center;
    }
}