.toolkit-sidebar {
    width: 200px;
    background-color: rgb(109, 207, 211);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 78px;
    bottom: 0;
    height: 100%;
    overflow: auto;
    padding-top: 10px;
    /* -webkit-transition: width .05s linear; */
    /* transition: width .05s linear; */
    /* -webkit-transform: translateZ(0) scale(1,1); */
    z-index: 10;
}

.main-menu > ul {
    margin: 7px -8px;
}
    
.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}