
        .Divstyle 
        {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: none;
            margin-left: 0px;
            margin-top: 0px;
        }

      
        .Divstyle0
        {
            margin-top: 138px;
            padding: 0px;
            margin-left: 424px;
            position: inherit;
            height: 50px;
            width: 70px;
            
            background-color: #c0ade6;
        }
     
        .Divstyle1
        {
            margin-top: 186px;
            padding: 0px;
            margin-left: 636px;
            position: inherit;
            height: 50px;
            width: 70px;
            
            background-color: lightBlue;
        }
     
        .Divstyle2
        {
            margin-top: 177px;
            padding: 0px;
            margin-left: 889px;
            position: inherit;
            height: 50px;
            width: 70px;
            
            background-color: #e23182;
        }
     
        .Divstyle3
        {
            margin-top: 305px;
            padding: 0px;
            margin-left: 512px;
            position: inherit;
            height: 50px;
            width: 70px;
            
            background-color: #d1e6ad;
        }
     
        .Divstyle4
        {
            margin-top: 340px;
            padding: 0px;
            margin-left: 879px;
            position: inherit;
            height: 50px;
            width: 70px;
            
            background-color: lightBlue;
        }
     
        .Divstyle5
        {
            margin-top: 301px;
            padding: 0px;
            margin-left: 1333px;
            position: inherit;
            height: 50px;
            width: 70px;
            
            background-color: #df361b;
        }
     
        .Divstyle6
        {
            margin-top: 518px;
            padding: 0px;
            margin-left: 433px;
            position: inherit;
            height: 50px;
            width: 136px;
            
            background: none;
        }
     
        .Divstyle7
        {
            margin-top: 481px;
            padding: 0px;
            margin-left: 941px;
            position: inherit;
            height: 50px;
            width: 100px;
            
            background: none;
        }
     
        .Divstyle8
        {
            margin-top: 413px;
            padding: 0px;
            margin-left: 358px;
            position: inherit;
            height: 50px;
            width: 100px;
            
            background: none;
        }
     