.input-field {
    margin-top: 100px;
}

.text-box {
    border: 1px dashed gray;
    padding: 1.5rem 1rem;
    margin-bottom: 0.5rem; 
    background-color: white; 
    cursor: move;
    opacity: 1;
}